.newProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 90;
  height: 32rem;
  padding: 0rem 8rem;
  margin-bottom: 10rem;
}
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.title h1 {
  font-family: var(--font-h1);
  font-size: 1.8rem;
}
.title button {
  font-family: var(--font-h1);
  font-size: 1.4rem;
  font-weight: 800;
  color: var(--orange);
  background-color: white;
  border: none;
  cursor: pointer;
  transition: 0.15s;
}
.title button:hover {
  color: var(--brightBlue);
}
.title button:active {
  transform: scale(0.9);
}
.products {
  display: grid;
  width: 100%;
  height: 77.7%;
  grid-template-columns: repeat(4, 1fr);
  gap: 4.5rem;
}
.product {
  background: url("../assets/Material/GrayBorder.svg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem 2rem 1.5rem;
}
.product div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  height: 40%;
}
.detail {
  font-family: var(--font-h1);
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--darkGray);
  width: 11rem;
}
.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-h3);
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--darkGray);
  width: 100%;
  color: var(--slimeGreen);
}
.product button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-family: var(--font-h1);
  font-size: 1rem;
  font-weight: 600;
  color: white;
  width: 100%;
  padding: 0.4rem 0.8rem;
  background-color: var(--skyBlue);
  border: none;
  border-radius: 0.5rem;
  transition: 0.15s;
}
.product button:hover {
  background-color: var(--orange);
  cursor: pointer;
}
.product button:active {
  opacity: 0.8;
}
.pageOrder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.circle {
  background-color: darkgray;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: inline-block;
  transition: width 0.15s, background-color 0.3s;
  margin: 0 0.5rem;
}
.hovered {
  background-color: var(--orange);
  width: 1.5rem;
}
